{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
 {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

        {% endblock %}
{% block body %}
<style>
.table {
margin-top:10%;
margin-bottom:15%;
}
.alert {
    margin-top: 70px;
    margin-bottom: 15rem;
    text-align: center;
}
footer {display:none;
}
</style>
 

<div class="bg-light p-3">
    <h1>Panier</h1>

{% if items | length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
        </thead>

       <tbody>
       {% for item in items  %}
         <tr>
            <td>{{ item.article.title }}</td>
            <td>{{ item.article.prix }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.article.prix * item.quantity}}</td>

                <td><a href="{{ path('remove_cart' , {'id' : item.article.id}) }}" class="btn btn-danger">
                  <i class="fas fa-trash"></i>
                 </a>
                </td>
         
         </tr>
       {% endfor %}
       <tbody>
        <tr>
            <td colspan="3">Total :</td>
            <td> {{ total }}</td> 
            <td><a href=" {{ path('checkout')}} " class="btn btn-danger">Checkout</a></td>
 
        </tr>

       <tfoot>


         </tfoot>
 </tbody>
       
{% else %}
  <div class="alert alert-dismissible alert-info">
  <span class="alert-link">Votre Panier Est Vide!</span>
</div>
</div>
{% endif %}




{% endblock %}

