
{% block title %}{% endblock %}
 {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

        {% endblock %}
{% block body %}
<style>
.table {
margin-top:10%;
margin-bottom:15%;
}
.alert {
    margin-top: 70px;
    margin-bottom: 15rem;
    text-align: center;
}
footer {
   
}
</style>
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img class="logo" src="{{ asset('images/logo.png') }}" alt="logo" width="50px" >
  <a class="navbar-brand" href="#">StreetArt</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

        <a class="nav-link" href="{{ path('street_art') }}">Accueil
          <span class="sr-only">(current)</span>
        </a>

        <li class="nav-item"> <a class="nav-link" href="#">Mon Espace</a></li>

         
      </li>
    
   
      
     
    </ul>
     
      <ul class="right">
       
        <li class="nav-item"> <a class="nav-link" href="{{ path('app_login') }}">Connexion</a></li>

         <li class="nav-item"> <a class="nav-link" href="{{ path('cart_index') }}"> Panier</a>  </li>


        <li class="nav-item"> <a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-sign-in-alt"></i></a></li>  
      
 
      
       
             
      </ul>
  
  </div>
</nav>
<div class="bg-light p-3">
    <h1>Panier</h1>
</div>
{% if items | length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
        </thead>

       <tbody>
       {% for item in items  %}
         <tr>
            <td>{{ item.article.title }}</td>
            <td>{{ item.article.prix }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.article.prix * item.quantity}}</td>

                <td><a href="{{ path('remove_cart' , {'id' : item.article.id}) }}" class="btn btn-danger">
                  <i class="fas fa-trash"></i>
                 </a>
                </td>
         
         </tr>
       {% endfor %}
       <tbody>
        <tr>
            <td colspan="3">Total :</td>
            <td> {{ total }}</td> 
            <td></td>

        </tr>

       <tfoot>


         </tfoot>
 </tbody>
       
{% else %}
  <div class="alert alert-dismissible alert-danger">
  <span class="alert-link">Votre Panier Est Vide!</span>
</div>
{% endif %}




{% endblock %}

